[data-theme="carbonfox-dark"] {
  --bg-app: #161616;
  --bg-input: #2a2a2a;
  --bg-suggestion: #161616;
  --bg-options: #78a9ff;
  --bg-header: #2a2a2a;

  --text-main: #f2f4f8;
  --text-muted: #7b7c7e;
  --options-text: #161616;

  --border-color: rgba(120, 169, 255, 0.15);
  --accent: #78a9ff;

  /* EKLENDİ: Diff Renkleri */
  --diff-del-bg: rgba(238, 83, 150, 0.2);
  --diff-del-text: #ee5396;
  --diff-add-bg: rgba(66, 190, 101, 0.2);
  --diff-add-text: #42be65;
}

[data-theme="carbonfox-light"] {
  --bg-app: #faf4ed;
  --bg-input: #ebdfcf;
  --bg-suggestion: #faf4ed;
  --bg-options: #d7827e;
  --bg-header: #f2e9e1;

  --text-main: #575279;
  --text-muted: #9893a5;
  --options-text: #faf4ed;

  --border-color: rgba(87, 82, 121, 0.1);
  --accent: #d7827e;

  /* EKLENDİ: Diff Renkleri */
  --diff-del-bg: rgba(180, 99, 122, 0.15);
  --diff-del-text: #b4637a;
  --diff-add-bg: rgba(86, 148, 159, 0.15);
  --diff-add-text: #56949f;
}
